.container {
  position: relative;
}

.rssLink:hover {
  color: #f78421;
}

.twitterLink:hover {
  color: #1da1f2;
}

.gitHubLink:hover {
  color: #6e5494;
}

.twitchLink:hover {
  color: #6441a5;
}

.skewed {
  position: absolute;
  top: 12rem;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  min-height: 450px;
  background: #fe5186;
  z-index: 0;
  transform: skewY(6deg);
  transform-origin: top right;
}

.content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: black;
  margin-top: 0rem;
  position: relative;
  overflow-x: hidden;
}

.content iframe {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.meta {
  margin-top: 1rem;
}
