@import 'tailwindcss';

@config '../../tailwind.config.js';

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 3.9%);
  /* Add any other theme variables you use here */
}

.dark {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);
  /* Add any other theme variables you use here */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Add any other theme variables you use here */
}


/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  a {
    @apply text-pink-600 hover:underline;
  }
  a:hover {
    @apply text-pink-600;
  }
}
