.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 100%;

  @media (--phone) {
    margin-top: 0;
  }

  @media (--tablet) {
    max-width: 660px;
  }
}
