.title {
  margin-bottom: 0rem;
}

.mention {
  background-color: rgba(255, 230, 230, 0.4);
  padding: 0.5rem 1rem;
  margin-bottom: 0.75rem;
}

.mention p {
  margin-top: 0.25rem;
}

.mention:last-child {
  margin-bottom: 0rem;
}

.mention p:last-child {
  margin-bottom: 0;
}

.mentionLink {
  text-decoration: none;
  color: darkorchid;
}

.likesHeader {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.likesHeader > * {
  margin-right: 0.25rem;
}

.authorContainer {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: darkorchid;
}

.authorContainer img {
  max-height: 2rem;
  margin-right: 0.5rem;
  border-radius: 0;
}

.authorContainer span {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.avatarLink img,
img.avatarLink,
.avatarLink {
  border-radius: 100%;
}
