.mention {
  background-color: rgba(255, 230, 230, 0.4);
  padding: 0.75rem;
  margin-bottom: 0.75rem;
}

.mention p {
  margin-top: 0.25rem;
}

.mention:last-child {
  margin-bottom: 0rem;
}

.mention p:last-child {
  margin-bottom: 0;
}
