.title {
  margin-bottom: 1rem;
}

.mention {
  background-color: #eee;
  padding: 1rem;
  margin-bottom: 1rem;
}

.mention:last-child {
  margin-bottom: 0rem;
}

.mention p:last-child {
  margin-bottom: 0;
}

.mentionLink {
  text-decoration: none;
  color: darkorchid;
}

.authorContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  color: darkorchid;
}

.authorContainer img {
  max-height: 2rem;
  margin-right: 0.5rem;
  border-radius: 0;
}

.authorContainer span {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
