.post li ol,
.post li ul {
  margin: 0.5rem 0 1rem 1rem;
}

.post ol,
.post ul {
  list-style-position: oustide;
  margin-left: 1em; /* em and not rem for perfect alignment based on this line's size */
}

.post ol li:not(:last-child),
.post ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.post {
  width: 100%;
  text-align: left;
  margin: 0 auto 1rem;
  font-weight: normal;
  font-size: larger;
  font-family: var(--font-stack);
}

.post * {
  overflow-wrap: anywhere;
}

.post img {
  max-width: 100%;
}

.post header a:hover {
  text-decoration: underline;
}

.post p {
  margin-bottom: 1rem;
}

.post pre {
  background-color: #1a1a1d;
  font-size: small;
  border-radius: 0.25rem;
  padding: 1.5rem;
  color: #ccc;
}

.post figure img {
  margin: 0 auto;
}
.post figure figcaption {
  font-size: 1rem;
  border-left: 10px solid #ef0247;
  padding-left: 0.5rem;
  margin-top: 1rem;
  font-style: italic;
  transition: all 0.1s;
}

.post figure figcaption:hover {
  border-left-width: 5px;
}

.post h1 {
  font-size: 2.625rem;
  margin: 0;
}

.coverImage {
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  margin-left: 0;
}

.postContent {
  position: relative;
}

.post p {
  max-width: 50rem;
}
