.post {
  width: 100%;
  text-align: left;
  margin: 0 auto 10px;

  @media (--tablet) {
    max-width: 660px;
    padding: 20px 10px;
  }

  @media (--phone) {
    padding: 20px 10px;
  }

  h1 {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  * {
    overflow-wrap: anywhere;
  }
}

.title {
  a {
    text-decoration: none;
  }
}

.coverImage {
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.meta {
  font-size: 1rem;
  color: #555555;
}

.readMore {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0;
  font-size: 1rem;
}

.postContent {
  position: relative;
}

p {
  max-width: 70ch;
  font-size: 16pt;
}
