.post {
  width: 100%;
  text-align: left;
  margin: 0 auto 10px;
  font-weight: normal;
  font-size: larger;
  font-family: var(--font-stack);
}

.post * {
  overflow-wrap: anywhere;
}

.post h1 {
  margin: 0;
}

.post img {
  width: 100%;
}

.post a {
  color: #ef0247;
  text-decoration: underline;
}

.post a:hover {
  text-decoration: none;
}

.post p {
  margin-bottom: 1rem;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin: 1rem 0;
  font-weight: bold;
  font-size: larger;
}

.post h1 a,
.post h2 a,
.post h3 a,
.post h4 a,
.post h5 a,
.post h6 a {
  color: #222;
}

.title a {
  text-decoration: none;
}

.coverImage {
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.meta {
  font-size: 1rem;
  color: #555555;
}

.readMore {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0;
  font-size: 1rem;
}

.postContent {
  position: relative;
}

p {
  max-width: 70ch;
}
