@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../static/fonts/Inter-UI-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../../static/fonts/Inter-UI-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../../static/fonts/Inter-UI-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../../../static/fonts/Inter-UI-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../../static/fonts/Inter-UI-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../../../static/fonts/Inter-UI-BoldItalic.woff') format('woff');
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--pink);
}
